body {
    background-color: rgb(233, 199, 135);
    font-family: ;
    font-size: ;
}

h1,h2,h3 {
    font-size: ;
}

h1 {
    font-family: ;
    font-size: 
}

h2 {
    font-family: ;
    font-size: ;
}

header {
    color: rgb(12, 12, 12);
    border-radius: 3px;
    border: 6px;
    text-align: center;
    height: 100px;
}

header > p {
	color: rgb(12, 0, 0);
}

header {
	background-color: rgb(226, 189, 66);  */
}

nav {
    padding: 4px;
    font-style: oblique;
}

nav > a {
    margin: 3px;
    text-decoration: none;
    color: paleturquoise;
}

nav:hover {
    color: red;
    text-decoration: underline;
    text-transform: uppercase;
}
